// Variables

// Colors
$color-white: #fff;
$color-rock: #4d3631;
$color-masala: #453c3a;
$color-martini: #a89f9d;
$color-cinnabar: #e0431e;

// Typography

// $FuturaPTBook: "FuturaPT Book";
$Roboto: "Roboto", sans-serif;
