<ul class="products">
  <li class="product">
    <a class="product__image-wrapper" href="#">
      <img class="product__image" src="../../images/product-1.jpg" alt="Alt">
    </a>
    <div class="rating">
      <ul class="stars">
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <div class="rating__text">253 отзыва</div>
    </div>
    <h2 class="product__title">Футболка Rizziano</h2>
    <div class="product__controls">
      <div class="product__price">
        <span>2 990 ₽</span>
        1 990 ₽
      </div>
      <button class="product__button button button--danger button--md" type="button" aria-label="Add product cart">
        <svg width="20" height="20">
          <use xlink:href="../../images/sprite.svg#cart-light"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="product">
    <a class="product__image-wrapper" href="#">
      <img class="product__image" src="../../images/product-2.jpg" alt="Alt">
    </a>
    <div class="rating">
      <ul class="stars">
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <div class="rating__text">253 отзыва</div>
    </div>
    <h2 class="product__title">Футболка Rizziano</h2>
    <div class="product__controls">
      <div class="product__price">
        <span>2 990 ₽</span>
        1 990 ₽
      </div>
      <button class="product__button button button--danger button--md" type="button" aria-label="Add product cart">
        <svg width="20" height="20">
          <use xlink:href="../../images/sprite.svg#cart-light"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="product">
    <a class="product__image-wrapper" href="#">
      <img class="product__image" src="../../images/product-3.jpg" alt="Alt">
    </a>
    <div class="rating">
      <ul class="stars">
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href=../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href=../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href=../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href=../../images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <div class="rating__text">253 отзыва</div>
    </div>
    <h2 class="product__title">Футболка Rizziano</h2>
    <div class="product__controls">
      <div class="product__price">
        <span>2 990 ₽</span>
        1 990 ₽
      </div>
      <button class="product__button button button--danger button--md" type="button" aria-label="Add product cart">
        <svg width="20" height="20">
          <use xlink:href="../../images/sprite.svg#cart-light"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="product">
    <a class="product__image-wrapper" href="#">
      <img class="product__image" src="../../images/product-4.jpg" alt="Alt">
    </a>
    <div class="rating">
      <ul class="stars">
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <div class="rating__text">253 отзыва</div>
    </div>
    <h2 class="product__title">Футболка Rizziano</h2>
    <div class="product__controls">
      <div class="product__price">
        <span>2 990 ₽</span>
        1 990 ₽
      </div>
      <button class="product__button button button--danger button--md" type="button" aria-label="Add product cart">
        <svg width="20" height="20">
          <use xlink:href="../../images/sprite.svg#cart-light"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="product">
    <a class="product__image-wrapper" href="#">
      <img class="product__image" src="../../images/product-5.jpg" alt="Alt">
    </a>
    <div class="rating">
      <ul class="stars">
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <div class="rating__text">253 отзыва</div>
    </div>
    <h2 class="product__title">Футболка Rizziano</h2>
    <div class="product__controls">
      <div class="product__price">
        <span>2 990 ₽</span>
        1 990 ₽
      </div>
      <button class="product__button button button--danger button--md" type="button" aria-label="Add product cart">
        <svg width="20" height="20">
          <use xlink:href="../../images/sprite.svg#cart-light"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="product">
    <a class="product__image-wrapper" href="#">
      <img class="product__image" src="../../images/product-6.jpg" alt="Alt">
    </a>
    <div class="rating">
      <ul class="stars">
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star-filled"></use>
          </svg>
        </li>
        <li class="star">
          <svg width="16" height="16">
            <use xlink:href="../../images/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <div class="rating__text">253 отзыва</div>
    </div>
    <h2 class="product__title">Футболка Rizziano</h2>
    <div class="product__controls">
      <div class="product__price">
        <span>2 990 ₽</span>
        1 990 ₽
      </div>
      <button class="product__button button button--danger button--md" type="button" aria-label="Add product cart">
        <svg width="20" height="20">
          <use xlink:href="../../images/sprite.svg#cart-light"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
