<footer class="footer">
  <div class="container">
    <nav class="footer__navigation">
      <a class="logo" href="#">
        <img class="logo__image" src="../../images/logo.svg" alt="Picom" width="106" height="32">
      </a>
      <div class="footer__menu-wrapper">
        <h2 class="footer__menu-title">Наши услуги</h2>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a href="#">Разработка и поддержка</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Маркетинг и реклама</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Аналитика и исследования</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Внедрение CRM</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Решения</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu-wrapper">
        <h2 class="footer__menu-title">Продукты</h2>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a href="#">Облачная версия Битрикс24</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Коробочная версия Битрикс24</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">1С-Битрикс: Управление сайтом</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="copyright">
    <div class="copyright__container container">
      <div class="copyright__text">&copy; 2021 Все права защищены</div>
    </div>
  </div>
</footer>

<section class="modal">
  <button class="modal-close">&times;</button>
  <h2>Modal window</h2>
</section>
