<!doctype html>
<html lang="en">
<head>

  <%= require('html-loader!./partials/head.html') %>

</head>
<body class="">
  <!-- Header -->
  <%= require('html-loader!./partials/header.html') %>
  <!-- Header end -->

  <main class="main">
    <div class="container">
      <h1 class="main__title page-title">Каталог</h1>
      <div class="wrapper">
        <section class="content">
          <%= require('html-loader!./components/products.html') %>
          <button class="load-more-products button button-outline-danger button--lg" type="button">Показать еще</button>
        </section>

        <aside class="sidebar">

          <div class="currency">
            <ul class="currency__list">
              <!--<li class="currency__display currency__display&#45;&#45;success">
                <div class="currency__name">
                  <span class="currency__state"></span>
                  USD
                </div>
                <div class="currency__number">
                  <span class="currency__previous">0,0083</span>
                  72.177
                </div>
              </li>

              <li class="currency__display currency__display&#45;&#45;danger">
                <div class="currency__name">
                  <span class="currency__state"></span>
                  USD
                </div>
                <div class="currency__number">
                  <span class="currency__previous">0,0183</span>
                  72.177
                </div>
              </li>-->
            </ul>

            <button class="currency__button button button--danger button--lg modal-open" type="button">Подписаться</button>
          </div>
        </aside>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <%= require('html-loader!./partials/footer.html') %>
  <!-- Footer end -->

</body>
</html>
